.fContainer {
  background-color: #0000009a;
  width: 100%;
  height: 20rem;
  border-top: 3px solid #d3d1d1;
  font-size: 1.2rem;
  font-weight: 500;
  /* margin-top: 2rem; */

  display: flex;
  flex-wrap: wrap;

  .icons {
    width: 33.3%;
    height: 100%;
    color: #d3d1d1;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 0.8rem;

    img {
      width: 9rem;
    }

    .redes {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;

      a {
        font-size: 1.5rem;
        color: #ff005d;
      }
    }
  }

  .copy {
    width: 33.3%;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    h3 {
      color: #d3d1d1;
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 1rem;
    }
  }

  .png {
    width: 33.3%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    img {
      width: 360px;
      height: 240px;
    }
  }
}